.profile__info {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    align-content: center;
    column-gap: 18px;
    max-width: 400px;
}


@media screen and (max-width: 1000px) {
    .profile__info {
        justify-items: center;
        margin-bottom: 33px;
    }
}

@media screen and (max-width: 500px) {
    .profile__info {
        margin-left: 27px;
        row-gap: 7px;
        column-gap: 10px;
    }
}